<h1 class ="text-center bg-white font-italic">Editing Card</h1>

<%= render 'form', card: @card %>


<div class="row text-white">
  <div class="col-md-6 text-light">
    <%= link_to 'Show', @card, class:"btn btn-sm btn-outline-secondary btn-block" %>
  </div>
  <div class="col-md-6">
    <%= link_to 'Back', cards_path, class:"btn btn-sm btn-outline-secondary btn-block" %>
  </div>
</div>
